<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<script>
    var ws;

    function connect() {
        ws = new WebSocket('ws://' + window.location.host + '/chat/');
        ws.onopen = function () {
            log('open')
        };

        ws.onmessage = function (e) {
            var message = e.data;

            var messages = document.getElementById('messages');
            messages.innerHTML += message + "<br>";
            messages.scrollTop = 100000000000;

            log('received\t ' + message);
        };

        ws.onclose = function () {
            log('closed');
            connect();
        };
    }

    function send(data) {
        var message = data.message.value;
        ws.send(message);
        data.message.value = '';
        log('send\t\t ' + message);

    }

    function microtime() {
        return new Date().getTime() / 1000;
    }

    function log(message) {
        console.log(microtime(), message);
    }

</script>
<body onload="connect()">
<div id="messages" style="width: 300px; height: 400px; border: 1px solid black; overflow: scroll;"></div>
<form action="javascript:send(this)">
    <input type="text" id="message" style="width: 247px;">
    <input type="submit" value="Send">
</form>
</body>
</html>